# Data Discovery - Investigando os Dados Brutos

**Autor:** Felipe Freire (Diretor de operações)
**Objetivo:** Este notebook serve como um ambiente de exploração para investigar os dados brutos, especificamente os valores únicos de colunas categóricas que precisam de limpeza e padronização.

**Workflow:**
1. Carregar o dataset **bruto** (`raw`).
2. Para cada coluna de interesse (`estado`, `etnia`, `genero`, etc.), usar `.unique()` e `.value_counts()` para listar todas as variações existentes.
3. Usar a saída desta análise para preencher os dicionários de mapeamento no script principal `src/analysis.py`.

In [ ]:
import pandas as pd
import os

# --- Configuração dos Caminhos ---
# Esta célula garante que o notebook encontre os arquivos de dados corretamente
PROJECT_ROOT = os.path.abspath(os.path.join(os.getcwd(), '..')) # Sobe um nível para a pasta raiz do projeto
RAW_DATA_PATH = os.path.join(PROJECT_ROOT, 'data', 'raw', '20250916-div_inscricoes.csv')

# --- Carregando os Dados ---
# Sempre carregamos os dados brutos aqui para garantir que estamos vendo a "verdade" original
print(f"Carregando dados de: {RAW_DATA_PATH}")
df_raw = pd.read_csv(RAW_DATA_PATH)

print("\nDados carregados com sucesso!")
df_raw.head()

In [6]:
pip uninstall pandasql
pip uninstall sqlite3 # Tente desinstalar, mas se for um módulo nativo do Python, pode falhar.

SyntaxError: invalid syntax (45909050.py, line 1)

In [16]:
import pandas as pd
import duckdb

# df_raw deve estar carregado aqui...

consulta_sql = """
    SELECT
        turma_slug,
        curso_titulo
    FROM
        df_raw  -- O DuckDB lê DataFrames como se fossem tabelas
    
"""

# 1. Conecta ao DuckDB na memória
conn = duckdb.connect()

# 2. Executa a consulta e armazena o resultado em um novo DataFrame
resultado_df = conn.execute(consulta_sql).fetchdf()

conn.close() # Fecha a conexão

print("\nResultado da Consulta SQL com DuckDB:")
print(resultado_df)

BinderException: Binder Error: Referenced column "curso_titulo" not found in FROM clause!
Candidate bindings: "outra_coluna", "turma_slug", "valor_coluna"

LINE 4:         curso_titulo
                ^

---
### Análise da Coluna `estado`

Vamos inspecionar os valores da coluna de estado para identificar inconsistências (ex: "SP" vs "São Paulo").

In [7]:
# .value_counts() é excelente pois mostra os valores e a frequência de cada um
print("Valores únicos e suas contagens para a coluna 'estado':")
print(df_raw['cidade'].unique())

Valores únicos e suas contagens para a coluna 'estado':
['Três passos' 'Triunfo' 'São Paulo' 'Osasco' 'Cabedelo' 'Salvador'
 'Rio de Janeiro' nan 'rio de janeiro' 'Matosinhos' 'Porto alegre'
 'Joinville' 'Valparaiso' 'Recife' 'Santa Luzia' 'Jaú' 'Manaus'
 'Porto Velho' 'Natal' 'Belo Horizonte' 'Malacacheta'
 'Itapecerica da Serra' 'Sabará' 'Maceió' 'Brasília' 'Vila Velha'
 'Angra dos Reis' 'Sumaré' 'Nova Iguaçu' 'Suzano' 'Vitória da Conquista'
 'Guarapuava' 'Campinas' 'Florianópolis' 'João Pessoa' 'Porto Alegre'
 'Senhor do Bonfim' 'Cachoeirinhas' 'Porto' 'Rio Branco' 'Guarulhos'
 'Juiz de Fora' 'Blumenau' 'Betim' 'Sapiranga' 'Belém' 'Niterói'
 'Anápolis' 'Ribeirão Preto' 'Araucária' 'Fortaleza' 'Bela Vista'
 'São João del Rei' 'São Leopoldo' 'Rio de janeiro' 'Alfenas' 'Maua'
 'Itaquaquecetuba' 'Presidente Prudente' 'Sertãozinho' 'Diamantina'
 'Maracanaú' 'Vila Sônia' 'Jaguaruana' 'Canoas' 'Nova Lima'
 'Três Corações' 'São Bernardo do Campo' 'Curitiba' 'Rio Claro'
 'Trancoso, Porto Seguro' 'Duque de caxias' 'Ituiutaba' 'São Luís'
 'Taubaté' 'Santa Maria' 'Águas Lindas' 'Feira de Santana' 'Paraná'
 'Paulista' 'Mesopolis' 'Atibaia' 'Embu das Artes' 'Santo André' 'Pelotas'
 'Maringá' 'Aracaju' 'Petrolina' 'Planaltina' 'Piracicaba'
 'São João de Meriti' 'Brusque' 'Resende' 'Parnaíba'
 'Caompos dos Goytacazes' 'João Monlevade' 'Nilópolis' 'Viamão'
 'Valparaíso de Goiás' 'Jacareí' 'Araruama' 'Teresópolis' 'Olinda' 'Ijuí'
 'Prudentópolis' 'Mamanguape' 'Votorantim' 'Mandirituba' 'Vitória'
 'VILA VELHA' 'São Vicente' 'Capivari de Baixo' 'Uberlândia' 'São Gonçalo'
 'Senador Canedo' 'Abreu e Lima' 'Eloi Mendes' 'Águas Lindas de Goiás'
 'São Caetano do Sul' 'Cariacica' 'Garopaba' 'Balneário Camburiú'
 'Goiânia' 'Florianopolis' 'São José do Vale do Rio Preto' 'Sobral'
 'Ribeirão Pires' 'Barueri' 'Lagoa santa' 'Sorocaba' 'Ananindeua' 'Bauru'
 'Sao Luis' 'Mamanaguape' 'Carpina' 'Barra Mansa' 'Niteroi'
 'São Paulo, Brasil' 'Umirim' 'Pinhais' 'rio de janeiro niteroi'
 'SÃO PAULO' 'Lisboa' 'Cuiabá' 'Rio De Janeiro' 'Ipu' 'são joão de meriti'
 'CAMOCIM' 'São João De Meriti' 'Mongaguá' 'Crateús' 'foz do Iguaçu'
 'itajaí' 'Goioerê' 'Bom Jesus da Lapa' 'Londrina' 'Bandeirantes'
 'Juiz de fora' 'Ribeirão Preto/SP' 'três corações' 'Campo Grande'
 'Ponte Nova' 'Igarassu' 'Piraquara' 'Aparecida de Goiânia' 'Uberaba'
 'Vespasiano' 'Santos' 'Sao Paulo' 'Abaiara' 'Dourados' 'Jundiaí'
 'Itupeva' 'Belo horizonte' 'natal' 'Caruaru' 'Campina Grande' 'são paulo'
 'Ponta Grossa' 'Lavras' 'goiânia' 'Mauá' 'São José dos Campos'
 'Jaboatao dos Guararapes' 'Teresina' 'niteroi' 'Guanambi' 'salvador'
 'Nova prata do Iguaçu' 'Jales' 'São Lourenço Da Mata' 'Cosmópolis'
 'sdfasd' 'asdf' 'São Félix de Minas' 'afsdfasdfdsa' 'Carapicuíba'
 'Agudos' 'Paulínia' 'Santo Amaro' 'Mogi Mirim' 'Rio de Janeiro / RJ'
 'Arujá' 'Palhoça' 'Palmas' 'Diadema' 'Praia Grande' 'Manaus - AM'
 'Itapipoca' 'Florianópolois' 'Mairiporã' 'Gunma' 'Campos dos Goytacazes'
 'Camaçari' 'Paracambi' 'Canindé' 'Rio das Pedras' 'Belford Roxo'
 'São Francisco do Conde' 'Lorena' 'Limeira' 'Matão' 'Sarandi'
 'Carapicuiba' 'Paranoá' 'Araguaina' 'Rio claro' 'Serra' 'Uberlandia' 'Bh'
 'Guarujá' 'Sapé' 'Guarapari' 'São paulo' 'Itajubá' 'PAULISTA'
 'São João da Boa Vista' 'Macaíba' 'Araraquara' 'Barreiro' 'SAO PAULO'
 'BAURU' 'São Lourenço da Mata' 'SãoPaulo' 'Brasilia' 'Ilhéus'
 'Navegantes' 'Viana' 'florianopolis' 'Imbituva' 'Rondonópolis'
 'Campo Limpo Paulista' 'brasília' 'UBERLÂNDIA' 'Várzea Paulista'
 'Francisco Morato' 'NATAL' 'São José do Rio Preto' 'porto alegre'
 'São Francisco do Sul' 'Pato Branco' 'João pessoa' 'Vitória da conquista'
 'Contagem' 'são João de meriti' 'Laranjeiras do Sul' 'Americana'
 'Três Rios' 'Marilia' 'Ibiporã' 'Parauapebas' 'Catanduva' 'Cacequi'
 'Santo Andre' 'Piratininga' 'Pitanga' 'Taguatinga norte'
 'Santo Antônio de Jesus' 'Franco da rocha' 'DUQUE DE CAXIAS' 'Remígio'
 'Parnamirim' 'São Carlos' 'Assis' 'Montes claros' 'Nova Mutum'
 'São José dos Pinhais' 'Paranaguá' 'Brasilândia' 'Mogi das Cruzes'
 'Camaragibe' 'belo horizonte' 'Boituva' 'Foz do Iguaçu'
 'Santana de Parnaíba' 'Rio Grande' 'Miguel Alves' 'Curvelo'
 'Vargem grande paulista' 'Embu das artes' 'Toledo' 'Nilopolis' 'Mirassol'
 'Bagé' 'Duque de Caxias' 'Lages' 'Tuiuti' 'Araçatuba' 'Amadora'
 'Mogi das cruzes' 'Boa Viagem' 'Amparo' 'Marabá' 'São José do Campestre'
 'ARAÇATUBA' 'Irati' 'Campo grande' 'São José' 'Taboão da Serra'
 'ANANINDEUA' 'caxias do sul' 'Cornélio Procópio' 'Delmiro Gouveia'
 'Pato branco' 'Itápolis' 'Alvorada' 'Ibiúna' 'Boa vista' 'belém'
 'Jaboatão dos Guararapes' 'Itararé' 'Teresopolis' 'Passos'
 'Campos Novos Paulista' 'Cacoal' 'São Gonçalo do Amarante' 'Piedade'
 'Crato' 'Cidade Ocidental' 'recife' 'brasilia' 'Seropédica'
 'Capela de Santana' 'marica' 'LAURO DE FREITAS' 'Caxias do sul' 'Guaíba'
 'LEME' 'Tenente Laurentino Cruz' 'Belford roxo'
 'Santa Terezinha de Itaipu' 'Rj' 'Porto seguro' 'Divinópolis'
 'Campo Mourão / PR' 'Campo mourão' 'Campos Sales' 'londrina'
 'Porto Alegre e região' 'Várzea Grande' 'GUARULHOS' 'Brumadinho'
 'Magé - RJ' 'recanto das emas' 'Sp' 'Canoinhas' 'jundiai' 'Biguaçu'
 'FLORIANOPOLIS' 'Castanhal' 'Cubatão' 'Gama' 'Caucaia' 'Augusto Corrêa'
 'Brasília - DF' 'Caieiras' 'Passo Fundo' 'Russas' 'Coração de María'
 'São gonçalo' 'sao paulo' 'São Paulo - SP' 'florianópolis' 'Alagoinhas'
 'são Paulo' 'Montes Claros' 'Sao paulo' 'Ipatinga' 'Fortaleza Ce'
 'Taboão da serra' 'Itaboraí' 'Ribeirao pires' 'Santa Bárbara d’Oeste'
 'Esteio' 'Simões Filho' 'Itatiba' 'Maricá' 'Sena Madureira' 'Franca'
 'Porto Real' 'joão pessoa' 'Prefiro não informar' 'Jóia' 'Campo do Meio'
 'São Paulo / SP' 'São jose do rio preto' 'Brasília De Minas' 'Matinhos'
 'Novo Hamburgo' 'BELO HORIZONTE' 'Magé' 'guarulhos' 'diadema'
 'Ponta Grossa - PR' 'Recife - PE' '3510609' 'PETROLINA' 'Pindamonhangaba'
 '(13) 98809-6933' 'São José de Mipibu' 'BELFORD ROXO' 'Ribeirão preto'
 'Pontal do sul' 'Goiana' 'São Bernardo do campo' 'Juazeiro'
 "Santa Bárbara D'Oeste" 'Sapucaia do Sul' 'Ituverava' 'Mossoró'
 'são leopoldo' 'Queimados' 'PIRACICABA' "Olho d\\\\\\'Água do Casado"
 'Ramos' 'VITORIA' 'indaiatuba' 'BRASÍLIA' 'Murcia' 'Campo' 'Jucurutu'
 'São Jose dos campos' 'Campo Bom' 'GOIÂNIA' 'LONDRINA' 'Patrocínio'
 'Sao leopoldo' 'São José de mipibu' 'ITABORAÍ' 'PINHAIS' 'diamantina'
 'RJ']

---
### Análise da Coluna `etnia`

Aqui, procuramos por variações como "etnia_branca", "[branca]", "Branca", além de valores nulos.

In [4]:
print("Valores únicos e suas contagens para a coluna 'etnia':")
print(df_raw['etnia'].value_counts(dropna=False)) # dropna=False também mostra a contagem de valores nulos (NaN)

Valores únicos e suas contagens para a coluna 'etnia':
etnia
etnia_branca                 657
NaN                          413
etnia_parda                  371
etnia_preta                  185
[]                           171
["branca"]                   134
["parda"]                     49
["preta"]                     37
etnia_indigena                28
etnia_amarela                 22
etnia_nao_quero_responder     12
etnia_outro                    8
["amarela"]                    6
["preta","parda"]              4
["indigena"]                   1
["nao_quero_responder"]        1
Name: count, dtype: int64

---
### Análise da Coluna `genero`

Investigamos a padronização das identidades de gênero declaradas.

In [5]:
print("Valores únicos e suas contagens para a coluna 'genero':")
print(df_raw['genero'].value_counts(dropna=False))

Valores únicos e suas contagens para a coluna 'genero':
genero
identidade_trans                           933
NaN                                        386
identidade_nao_binarie                     234
[]                                         174
["trans"]                                  164
identidade_cis                              87
["nao_binarie"]                             23
identidade_outro                            17
identidade_queer                            16
identidade_nao_sei                          15
["cis"]                                      8
identidade_nao_quero_responder               8
["trans","travesti"]                         7
["nao_binarie","queer"]                      5
["trans","nao_binarie"]                      5
["outro","Transmasculino"]                   4
["travesti"]                                 2
["intersexo - 46 x,y"]                       2
["Homem"]                                    1
["transmasculino","trans"]                   1
["trans","nao_binarie","queer"]              1
["trans","nao_binarie","Agênero"]            1
["queer"]                                    1
["nao_binarie","queer","Gênero fluido"]      1
["Transmasculino"]                           1
["nao_quero_responder"]                      1
["trans","travesti","queer"]                 1
Name: count, dtype: int64

In [6]:
# --- Análise da Coluna `atuacao` (Voluntariado) ---
print("\n" + "="*50)
print("Analisando dados de voluntariado para a coluna 'atuacao'")

# Carrega o dataset de voluntariado
RAW_VOLUNTARIADO_PATH = os.path.join(PROJECT_ROOT, 'data', 'raw', '20250916-div_voluntariado.csv')
df_vol_raw = pd.read_csv(RAW_VOLUNTARIADO_PATH)

print("\nValores únicos e suas contagens para a coluna 'atuacao':")
print(df_vol_raw['atuacao'].value_counts(dropna=False))

==================================================
Analisando dados de voluntariado para a coluna 'atuacao'

Valores únicos e suas contagens para a coluna 'atuacao':
atuacao
["tecnologia"]                                                     96
["comunicacao"]                                                    23
["psicologia"]                                                     21
["parcerias"]                                                      15
["engajamento"]                                                    12
["outras"]                                                          5
["comunicacao","tecnologia"]                                        4
["comunicacao", "tecnologia"]                                       3
["tecnologia","outras"]                                             2
["tecnologia","comunicacao","outras"]                               2
["tecnologia","comunicacao"]                                        2
["engajamento","comunicacao","tecnologia"]                          1
["tecnologia","engajamento","parcerias","outras"]                   1
["parcerias","tecnologia","comunicacao","engajamento","outras"]     1
["comunicacao","parcerias"]                                         1
["engajamento","parcerias"]                                         1
["psicologia","tecnologia"]                                         1
["psicologia", "tecnologia"]                                        1
["comunicacao", "parcerias"]                                        1
["parcerias","tecnologia"]                                          1
["tecnologia", "engajamento"]                                       1
["psicologia", "comunicacao"]                                       1
["tecnologia", "parcerias"]                                         1
["tecnologia", "comunicacao"]                                       1
["psicologia","comunicacao","engajamento","outras"]                 1
Name: count, dtype: int64

In [7]:
# Adicione ao seu notebook para investigar
print("\n" + "="*50)
print("Verificando dados para o cruzamento de Gênero vs. Nível Profissional")

# Carrega o dataset final e processado
df_final = pd.read_csv('../data/processed/dados_consolidados_comunidade.csv')

# Cria uma tabela resumo
resumo_cruzamento = df_final.groupby('genero_padronizado').agg(
    total_de_pessoas=('person_id', 'count'),
    com_nivel_profissional=('professional_level_padronizado', 'count') # 'count' ignora valores nulos (NaN)
).reset_index()

print("\nComparativo de preenchimento:")
print(resumo_cruzamento)

==================================================
Verificando dados para o cruzamento de Gênero vs. Nível Profissional

Comparativo de preenchimento:
      genero_padronizado  total_de_pessoas  com_nivel_profissional
0              Cisgênero                96                       0
1       Outra identidade                19                       0
2           Pessoa Trans              1118                      69
3  Preferiu não informar               843                     166
4                  Queer                23                       0
5               Travesti                 2                       1